body {
  background-image: url('assets/background.png');
  font-family: 'questa_granderegular';
}

.bodyparagraph {
  font-size: 1.5em;
  text-align: justify
}

.subheader {
  font-size: 1.5em;
}

hr {
  border-color: rgba(0,0,0,0.30);
}

@font-face {
  font-family: 'questa_granderegular';
  src: url('./assets/font_questagrande/2-Questa_Grande_Regular-webfont.eot');
  src: url('./assets/font_questagrande/2-Questa_Grande_Regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('./assets/font_questagrande/2-Questa_Grande_Regular-webfont.woff2') format('woff2'),
       url('./assets/font_questagrande/2-Questa_Grande_Regular-webfont.woff') format('woff'),
       url('./assets/font_questagrande/2-Questa_Grande_Regular-webfont.ttf') format('truetype'),
       url('./assets/font_questagrande/2-Questa_Grande_Regular-webfont.svg#questa_granderegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

.portfolio-title {
  font-size: 3em;
  font-weight: 700;
  letter-spacing: 5px;
  text-align: center;
  color: #555;
  text-transform: uppercase;
  padding-top: 0px;
  padding-bottom: 0px;
}

.portfolio-subtitle {
  font-size: 2em;
  font-weight: 500;
  letter-spacing: 3px;
  text-align: center;
  color: #555;
  text-transform: lowercase;
  padding-top: 0px;
  padding-bottom: 0px;
}

.social-icons {
  padding-top: 20px;
}

.skills-ionicons {
  font-size: 70px;
}

.profile {
  height: 300px;
  width: 300px;
  border-radius: 25px;
  padding: 1px;
  border: 1px solid black;
}

.project-image {
  padding-top: 50px;
  height: 225px;
  display: block;
  margin: auto;
}

.background-div {
  border-left-style: solid;
  border-right-style: solid;

}

.background-image {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 1px solid black;
}
